.home {
  width: 100%;
  height: 100%;
  padding: calc(var(--header-height) + 1rem) 1.33rem;
}

.movies {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.movies--first-call {
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768.1px) {
  .home {
    width: 100%;
  }

  .movies {
    flex-direction: column;
    align-items: initial;
  }
}

@media screen and (max-width: 400px) {
  .movies {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
