.app-header {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 1.33rem;
  height: var(--header-height);
  background-color: var(--black);
  opacity: 0.95;
}

.header__logo {
  position: relative;
  font-size: 2.8rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.05rem;
  color: var(--red);
  pointer-events: none;
  --logo-anime-duration: 2s;
  --logo-anime-delay: 2s;
  animation: fade-out-to-left var(--logo-anime-duration) ease forwards;
  animation-delay: var(--logo-anime-delay);
}

.header__logo::before {
  content: 'net';
  animation: to-fake 0.1s forwards;
  animation-delay: calc(var(--logo-anime-delay) + var(--logo-anime-duration) / 2);
}

@keyframes fade-out-to-left {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: -30%;
    opacity: 0;
  }

  50% {
    left: 2%;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fade-out-to-right {
  /* use in @media */
  0% {
    right: 0;
    opacity: 1;
  }

  49% {
    right: -30%;
    opacity: 0;
  }

  50% {
    right: 2%;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes to-fake {
  from {
    content: 'net';
  }
  to {
    content: 'fake';
  }
}

.header__nav {
}

.header__nav ul {
  display: flex;
}

.header__nav li {
}

.header__nav li:nth-child(n + 2) {
  margin-left: 0.66rem;
}

.header__nav a {
  font-size: 1.33rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
}

@media screen and (max-width: 500px) {
  .app-header {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.33rem 0.66rem;
  }

  .header__logo {
    animation-name: fade-out-to-right;
  }
}
