.movies .movie {
  position: relative;
  background-color: white;
  margin-bottom: 3rem;
  font-weight: 300;
  padding: 1.2rem;
  border-radius: 5px;
  color: #adaeb9;
  box-shadow: 0 0.8rem 1.66rem -0.33rem rgba(50, 50, 93, 0.25),
    0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.3), 0 0.33rem 1rem -0.33rem rgba(0, 0, 0, 0.025);
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.movie a {
  display: grid;
  grid-template-columns: minmax(9.5rem, 1fr) 2fr;
  gap: 1.2rem;
  text-decoration: none;
  color: inherit;
}

.movie img {
  position: relative;
  top: -3rem;
  width: 100%;
  max-width: 9.8rem;
  margin-right: 2.2rem;
  box-shadow: 0 2.2rem 4.4rem -0.75rem rgba(50, 50, 93, 0.25),
    0 1.1rem 2.2rem -1.1rem rgba(0, 0, 0, 0.3), 0 0.75rem 2.25rem -0.5rem rgba(0, 0, 0, 0.025);
}

.movie .movie__title,
.movie .movie__year {
  margin: 0;
  font-weight: 300;
}

.movie .movie__title {
  margin-bottom: 0.33rem;
  font-size: 1.5rem;
  color: #2c2c2c;
}

.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0.33rem 0;
}

.movie__genres li,
.movie .movie__year {
  margin-right: 0.66rem;
  font-size: 0.125rem;
}
